<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="dotnet-mgcb" />
      <package pattern="dotnet-mgcb-editor" />
      <package pattern="dotnet-mgcb-editor-linux" />
      <package pattern="dotnet-mgcb-editor-windows" />
      <package pattern="dotnet-mgcb-editor-mac" />
      <package pattern="MonoGame.Content.Builder.Task" />
      <package pattern="MonoGame.Framework.DesktopGL" />
      <package pattern="MonoGame.Library.OpenAL" />
      <package pattern="MonoGame.Library.SDL" />
    </packageSource>
  </packageSourceMapping>
</configuration>
